*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(251, 241, 233, 1);
}

.PanFila {
    border: 1px solid black;
    background-color: rgba(237, 184, 189, 1);
}

.PanColumna {
    border: 1px solid black;
}