*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(251, 241, 233, 1);
}

.PanFila {
    background-color: rgba(237, 184, 189, 1);
}

.PanColumna {
    border: 1px solid black; /*Luego borrar esta clase*/
}

/*Estilos header*/

h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: center;
}

.PanMenu{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    color: black;
    
}

.PanLogoPao {
    margin-top: 0.5rem;
    margin-left: 2rem;
    width: 60px;
}

@media (min-width: 768px) {
    .PanMenu {
        font-size: 15px;
    }

    h1 {
        font-size: 18px;
    }

    .PanLogoPao {
        margin-left: 4.5rem;
        width: 130px;
    }
}

@media (min-width: 1024px) {
    .PanLogoPao {
        margin-left: 6rem;
        width: 130px;
    }
}

@media (min-width: 1440px) {
    .PanLogoPao {
        margin-left: 8rem;
        width: 130px;
    }
}

@media (min-width: 2560px) {
    .PanLogoPao {
        margin-left: 14rem;
        width: 130px;
    }
}