*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-header: rgba(237, 184, 189, 1);
    --color-fondo: rgba(251, 241, 233, 1);
}

body{
    background-color: rgba(251, 241, 233, 1);
}

.PanFila {
    background-color: var(--color-header);
}

.PanColumna {
    border: 1px solid black; /*Luego borrar esta clase*/
}

/*Estilos header*/

ul, li{
    list-style: none;
}

h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: center;
}

.PanMenu{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 7px;
    text-decoration: none;
    color: black;
    
}

.PanLogoPao {
    margin-top: 0.5rem;
    width: 60px;
}

/*Media querys*/

@media (min-width: 375px) {
    .PanMenu {
        font-size: 8px;
    }

    h1 {
        font-size: 10px;
    }
    .PanLogoPao {
        width: 80px;
    }

}

@media (min-width: 425px) {

    h1 {
        font-size: 11px;
    }

}

@media (min-width: 768px) {
    .PanMenu {
        font-size: 10px;
    }

    h1 {
        font-size: 18px;
    }

    .PanLogoPao {
        width: 130px;
    }
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1440px) {
    .PanMenu {
        font-size: 13px;
    }
}

@media (min-width: 2560px) {
    
}